<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reader</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="home">
	<header>
		<nav class="navbar navbar-expand-lg color">
      	<div class="container-fluid">
        	<img src="../assets/logo.png" alt="logo empresa" width="100" height="100">     
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	          <ul class="navbar-nav"> 
	           <li class="nav-item"><a class="nav-link nav-a" aria-current="page" href="#">Home</a></li>           
	            <li class="nav-item"><a class="nav-link nav-a" aria-current="page" th:href="@{/pageBook}">Nuestros Libros</a></li>
			    <li class="nav-item"><a class="nav-link nav-a" aria-current="page" th:href="@{/pageReader}">Nuestros Lectores</a></li>
	          </ul>
	        </div>
      </div>
    </nav>
	</header>
	<body>
	<div class="d-flex justify-content-center">
	<h3 class="mt-5 text-white">Listado de Lectores</h3>
	<a class="btn btn-warning btn-sm mt-5 mb-3 ms-5" th:href="@{/addReader}">Agregar Lector</a>
	</div>
	<div class="container">
		<table class="table table-striped table-responsive-md shadow p-3 mb-5 bg-body-tertiary rounded">
			<thead>
				<tr class="color">
					<th><a th:href="@{'/pageReader/' + ${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection} }">Nombre</a></th>
					<th><a th:href="@{'/pageReader/' + ${currentPage} + '?sortField=phoneNumber&sortDirection=' + ${reverseSortDirection} }">Teléfono</a></th>
					<th><a th:href="@{'/pageReader/' + ${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection} }">Dirección</a></th>
					<th class="text-white">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reader: ${listReaders}">
					<td th:text="${reader.name}"></td>
					<td th:text="${reader.phoneNumber}"></td>
					<td th:text="${reader.address}"></td>
					<td class="td-btn">
						<a class="btn btn-update" th:href="@{/updateReader/{memberNumber}(memberNumber=${reader.memberNumber})}">Actualizar</a> 
						<a class="btn btn-delete" th:href="@{/deleteReader/{memberNumber}(memberNumber=${reader.memberNumber})}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <div th:if="${totalPages > 1 }">
			<div class="row col-sm-14">
				<div class="col-sm-5 text-white">Total Filas: [[${totalItems}]]</div>
				<div class="col-sm-3">
					<span th:each="i:${#numbers.sequence(1, totalPages)}">
					<a  th:if="${currentPage !=1}" th:href="@{'/pageReader/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection='+ ${sortDirection} }">[[${i}]]</a>
						<span class="me-3 text-white" th:unless="${currentPage !=1}">[[${i}]]</span></span>
				</div>
					<div class="col-sm-2">
						<a th:if="${currentPage < totalPages}"
							th:href="@{'/pageReader/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a><span
							th:unless="${currentPage < totalPages}">Proximo</span>
					</div>
					<div class="col-sm-2">
						<a th:if="${currentPage < totalPages}"
							th:href="@{'/pageReader/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a><span
							th:unless="${currentPage < totalPages}">Ultimo</span>
					</div>
			</div>
		</div>
	</div> -->
	<div th:if="${totalPages > 1 }">
			<div class="d-flex justify-content-between">
				<div class="text-white">Total Filas: [[${totalItems}]]</div>
						<div>
							<span th:each="i:${#numbers.sequence(1, totalPages)}"><a
								th:if="${currentPage !=1}"
								th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection='+ ${sortDirection} }">[[${i}]]</a>
								<span class="text-white me-2" th:unless="${currentPage !=1}">[[${i}]]</span></span>
						</div>
						<div>
							<a class="me-3" th:if="${currentPage < totalPages}"
							   th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Próximo</a>
								<span  th:unless="${currentPage < totalPages}">Próximo</span>
						
							<a th:if="${currentPage < totalPages}"
							   th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Último</a>
							   <span th:unless="${currentPage < totalPages}">Último</span>
						</div>
				</div>
			</div>
		</div>
	<hr>
	<footer>
		<div class="d-flex justify-content-center">
			<div>
				<p class="p-footer">&#169Copyright2023 CrisLu</p>
				<div>
					<i class="bi bi-instagram icon-color"></i>
					<i class="bi bi-facebook icon-color"></i>
					<i class="bi bi-whatsapp icon-color"></i>
					<i class="bi bi-twitter icon-color"></i>
					<i class="bi bi-twitch icon-color"></i>
					<i class="bi bi-tiktok icon-color"></i>
				</div>
			</div>
		 </div>
	</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
