

.home{
  background-image: url("../assets/bg1.jpg");
  background-color: #cccccc;
/*   height: 700px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.color{
	background-color: #345457;
}

nav{
	height:5%;
}
.nav-a{
	color: white;
}

a{
	text-decoration:none;
	color: white;
}

/*TABLE***********************************************************************************************************/


.td-size{
	width:17%;
}

.td-btn{
	width:20%;
}

.nav-logo{
	height:3%;
} 

.btn-update{
	background-color: #84b1b5;
}

.btn-delete{
	background-color: #ff8080;
}

hr{
	background-color:white;
	height:5px;
	border-radius: 5px;
}

/*FORM***********************************************************************************************************/
.container-forms{
	background-image: url("../assets/bg.jpg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hr-forms{
	background-color:#345457;
	height:5px;
}

.title-forms{
	margin-top:4%;
	margin-left: 25%;
}

.forms{
	width:50%;
	margin-left: 25%;
	padding:5%;
}

.btn-save{
	background-color:#345457;
}
/* FOOTER ********************************************************************************************************/
.p-footer{
	color:white;
}

.social-media{
	margin-top: -10px;
}
.icon-color{
	color:white;
	margin-right:4.8%;
}